@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.Brand-image {
  height: 62px;
  width: auto;
}

.Icon {
  font-size: 20px;
  margin-right: 6px;
}

.Profile-img {
  max-width: 2.2em;
  max-height: 2.2em;
  margin-right: 6px;
}

.slideShow-description {
  background: radial-gradient(circle, rgba(254,254,254,1) 51%, rgba(204,227,231,1) 81%, rgba(195,234,241,1) 92%, rgba(181,227,236,1) 95%, rgba(165,218,228,1) 100%);
  background-clip: text;
  color: transparent;
}

.slideShow-text {
  font-size: 2rem;
  font-weight: bold;
  color: transparent;
  background: radial-gradient(circle, rgba(13,202,240,1) 38%, rgba(6,180,217,1) 67%, rgba(13,202,240,1) 93%, rgba(20,205,242,1) 100%, rgba(65,224,253,1) 100%);
  background-clip: text;
}

@media (max-width: 840px) {
  .slideShow-text {
    font-size: calc(1.275rem + .3vw);
  } 
}
